@model WebMvcSgq.Models.Incidente

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Incidente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dt_Cadastro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dt_Cadastro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Etapa.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etapa.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item.IdItem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item.IdItem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Problema.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Problema.Descricao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdIncidente }) |
    @Html.ActionLink("Back to List", "Index")
</p>
