<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SGQ PUC AUTOMOTIVO</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/EstiloMac.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SGQ-PUC", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Session["Usuario"] == null)
                    {
                        <li>@Html.ActionLink("Login", "Login", "Login")</li>
                    }
                    <li>@Html.ActionLink("Processo", "Index", "Processo")</li>
                    <li>@Html.ActionLink("Sobre", "About", "Home")</li>
                    <li>@Html.ActionLink("Contato", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Nao Conformidade", "Index", "NaoConformidade")</li>
                    <li>
                        <a>Relatório</a>
                        <ul class="nav navbarSubMenu-nav">
                            <li>@Html.ActionLink("Processos e Atividades", "Index", "Relatorio")</li>
                            <li>@Html.ActionLink("Não-Conformidades", "Index", "RelatorioNaoConformidade")</li>
                        </ul>
                    </li>
                    @if (Session["Usuario"] != null)
                    {
                        <li>@Html.ActionLink("Sair", "Login")</li>

                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SGQ Automotivo</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
