
@model WebMvcSgq.Models.Classe.RelatNaoConformidadeClass

@{
    ViewBag.Title = "Pesquisar Não Conformidades";

}

<br />

<h2>Pesquisar Não Conformidades</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <br />

    <div class="form-horizontal">
        @using (Html.BeginForm("Index", "RelatorioNaoConformidade", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.LabelFor(model => model.IdAtividadeDiaria, "AtividadeDiaria", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.IdAtividadeDiaria, null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdAtividadeDiaria, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IdProcesso, "Processo", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.IdProcesso, null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdProcesso, "", new { @class = "text-danger" })
                </div>
            </div>
        }

        <div class="form-group">
            @Html.LabelFor(model => model.DsNaoConformidade, "Não Conformidade ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DsNaoConformidade, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DsNaoConformidade, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.status, "NãoConformidades Concluida ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.status, new { htmlAtributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
            </div>
        </div>



        <br />

        <div style="color: red;">
            <h4>@ViewBag.Message</h4>
        </div>

        <br />

        <table class="webGrid" id="tblNaoConformidade">
            <tr class="grid-header">
                <th>Processo</th>
                <th>Atividade Diaria</th>
                <th>Descricao</th>
                <th>Status</th>
                <th>Data de Cadastro</th>
            </tr>



            @for (var a = 0; a < Model.ListaNaoConformidade.Count(); a++)
            {
                <tr>
                    <td>@Model.ListaNaoConformidade[a].NomeProcesso</td>
                    <td>@Model.ListaNaoConformidade[a].NomeAtividadeDiaria</td>
                    <td>@Model.ListaNaoConformidade[a].DsNaoConformidade</td>
                    <td>@ViewBag.Status</td>
                    <td>@Model.ListaNaoConformidade[a].DataCadastro</td>
                </tr>
            }

        </table>

        <br />
        <br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Pesquisar" class="btn btn-default" />
            </div>
        </div>

    </div>

}